{{#if start}}
  <form {{action "start" app on="submit"}} method="post">
    {{#if disabled}}
      <button class="btn btn-success btn-xs" disabled type="submit">Start</button>
    {{else}}
      <button class="btn btn-success btn-xs" active type="submit">Start</button>
    {{/if}}
  </form>



{{else if stop}}
<form {{action "stop" app on="submit"}} method="post">
  {{#if disabled}}
    <button class="btn btn-danger btn-xs" disabled type="submit">Stop</button>
  {{else}}
    <button class="btn btn-danger btn-xs" active type="submit">Stop</button>
  {{/if}}
</form>



{{else if deploy}}
  <form {{action "deploy" app on="submit"}} method="post">
    {{#if disabled}}
      <button class="btn btn-info btn-xs" disabled type="submit">Deploy</button>
    {{else}}
      <button class="btn btn-info btn-xs" active type="submit">Deploy</button>
    {{/if}}
  </form>
  {{/if}}

{{#unless disabled}}
{{#each app.errors as |error|}}
  <div  class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{error.message}}
  </div>
{{/each}}


{{#if request}}
<div  class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  Your request was successfully sent to the server.
</div>
{{/if}}
{{/unless}}
