{{#if start}}

    <form {{action "start" instance on="submit"}} method="post">
      <button class="btn btn-success btn-xs" active type="submit"><i class="fa fa-start"></i> Start</button>
    </form>

{{else if stop}}
    <form {{action "stop" instance on="submit"}} method="post">
    <button class="btn btn-danger btn-xs" active type="submit"><i class="fa fa-stop"></i> Stop</button>
    </form>

{{/if}}


{{#each instance.errors as |error|}}
      <div  class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{error.message}}
      </div>
{{/each}}

{{#if request}}
    <div  class="alert alert-dismissable alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{message}}
    </div>
{{/if}}
