<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Deploy Application onto Lambda Instance(s)</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- TOP DATA -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-laptop"></i> Application
                      {{#link-to 'lambda-app' application.id
                      tooltipContent=(concat "<center>" application.id "</center>")}}
                        {{application.name}}
                      {{/link-to}}
                    </h3>

                    <div class="box-tools pull-right">
                        <small>ID: {{application.id}}</small>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">

                  {{#if failure}}
                    {{#each app.errors as |error|}}
                        <div  class="alert alert-dismissable alert-danger" id="alert">
                            <button type="button" class="close" {{action "close_alert"}}>×</button>
                          {{error.message}}
                        </div>
                    {{/each}}
                  {{/if}}

                  {{#if request}}
                      <div  class="alert alert-dismissable alert-success" id="alert">
                          <button type="button" class="close" {{action "close_alert"}}>×</button>
                        {{message}}
                      </div>
                  {{/if}}

                  {{#if instances}}
                      <div class="row">
                          <div class="col-md-9 col-sm-8">
                              <div class="pad">
                                  Select a Lambda Instance from the list to deploy your Application
                              </div>
                          </div>
                          <!-- /.col -->

                      </div>
                      <!-- /.row -->

                      <div class="row">
                          <div class="col-ms-6 col-xs-6">
                              <table class="table table-bordered table-hover table-responsive">
                                  <thead>
                                  <tr>
                                      <th>Instance name</th>
                                      <th>Instance ID</th>
                                      <th>Action</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {{#each sortedInstances as |li|}}
                                      <tr>
                                          <td>{{li.name}}</td>
                                          <td>{{li.id}}</td>
                                          <td>{{app-action action="deploy" deploy=true app=app
                                          application-id=application.id instance-id=li.id
                                          failure=failure request=request message=message}}</td>
                                      </tr>
                                  {{/each}}

                                  </tbody>
                              </table>
                          </div>
                          <!--col-xs-12-->
                      </div>
                      <!--row-->

                  {{else}}
                      <div class="box-body">
                          There are no started Lambda Instances to deploy the application
                        {{#link-to 'lambda-app' application.id
                        tooltipContent=(concat "<center>" application.id "</center>")}}
                          {{application.name}}
                        {{/link-to}}
                          on
                      </div>
                  {{/if}}
                </div>
                <!--box-->
            </div>
            <!-- box-primary -->
        </div>
        <!--col -->
    </div>
    <!--row-->

</section><!-- /.content -->
