<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Lambda Instance Details</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- TOP DATA -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-laptop"></i> Lambda Instance Name: {{model.instance.name}}.</h3>
          <div class="box-tools pull-right">
            <small>ID:{{model.instance.id}}</small>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row ">
            <div class="col-xs-12">
              <a href="delete-instance.html"  class="btn  btn-danger pull-right" style="margin-right: 15px;"><i class="fa fa-close"></i> Delete</a>
              {{#link-to 'deploy-app-2' model.instance.id}}
                  <button class="btn btn-primary pull-right"
                          style="margin-right: 15px;"><i class="fa fa-mail-reply"> </i>
                      Attach an application
                  </button>
              {{/link-to}}
              <a href="delete-instance.html"  class="btn  btn-danger pull-right" style="margin-right: 15px;"><i class="fa fa-stop"></i> Stop</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-sm-8">
              <div class="pad">
                Details of your lambda Instance.
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-ms-6 col-xs-5">
              <table  class="table table-bordered table-hover table-responsive">
                <thead>
                  <tr>
                    <th>Property</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Project name</th>
                    <td>{{model.instance.project_name}}</td>
                  </tr>
                  <tr>
                    <th>Number of slaves</th>
                    <td>{{model.instance.slaves}}</td>
                  </tr>
                  <tr>
                    <th>Name of master node</th>
                    <td>{{model.instance.master_name}}</td>
                  </tr>
                  <tr>
                    <th>Hostname of master node</th>
                    {{#if model.instance.master_node_id}}
                    <td>snf-{{model.instance.master_node_id}}.vm.okeanos.grnet.gr</td>
                    {{else}}
                    <td>-</td>
                    {{/if}}
                  </tr>
                  <tr>
                    <th>Number of master node cpus</th>
                    <td>{{model.instance.vcpus_master}}</td>
                  </tr>
                  <tr>
                    <th>Number of each slave node cpus</th>
                    <td>{{model.instance.vcpus_slave}}</td>
                  </tr>
                  <tr>
                    <th>Size of master node RAM</th>
                    <td>{{model.instance.ram_master}}MB</td>
                  </tr>
                  <tr>
                    <th>Size of each slave node RAM</th>
                    <td>{{model.instance.ram_slave}}MB</td>
                  </tr>
                  <tr>
                    <th>Size of master node HDD</th>
                    <td>{{model.instance.disk_master}}GB</td>
                  </tr>
                  <tr>
                    <th>Size of each slave node HDD</th>
                    <td>{{model.instance.disk_slave}}GB</td>
                  </tr>
                  {{#if lambda-instance.public_key_name}}
                  <tr>
                    <th>Authorized public keys</th>
                    <td>{{lambda-instance.public_key_name}}</td>
                  </tr>
                  {{/if}}
                  <tr>
                    <th>Instance status message</th>
                    <td>{{model.instance.status_message}}</td>
                  </tr>
                  <tr>
                    <th>Instance status details</th>
                    <td>{{model.instance.status_detail}}</td>
                  </tr>
                  {{#if lambda-instance.status_failure_message}}
                  <tr>
                    <th>Instance failure message</th>
                    <td>{{lambda-instance.status_failure_message}}</td>
                  </tr>
                  {{/if}}
                </tbody>
              </table>
            </div><!--col-xs-12-->
          </div><!--row-->
        </div><!--box-->
      </div> <!-- box-primary -->
    </div> <!--col -->
  </div> <!--row-->
  {{#if (compare model.apps.length "!==" 0)}}
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-th"></i> Applications uploaded to this Lambda Instance</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class=“row”>
            <div class="col-xs-12">
              These are the Applications that are currently deployed on the current Lambda Instance.
            </div>
          </div>
          <div class=“row”>
            <div class="col-ms-8 col-xs-8">
              <table class="table table-bordered table-hover table-responsive">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Started</th>
                    <th> Actions </th>
                  </tr>
                </thead>
                <tbody>
                  {{#each model.apps as |app|}}
                  <tr class="instance-info">
                    <td>{{app.id}}</td>
                    <td>{{lower-case app.app_type}}</td>
                    <td>{{app.started}}</td>
                    <a href="delete-instance.html" class="btn  btn-danger btn-xs" style="margin-right: 15px;"><i class="fa fa-close"></i> Delete</a>
                    {{#if app.started}}
                    <a href="delete-instance.html" class="btn  btn-warning btn-xs" style="margin-right: 15px;"><i class="fa fa-stop"></i> Stop</a>
                    {{else}}
                    <a href="delete-instance.html" class="btn  btn-primary btn-xs" style="margin-right: 15px;"><i class="fa fa-play"></i> Start</a>
                    {{/if}}
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div><!--class="table-responsive"-->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div>
  </div>
  {{/if}}
</section><!-- /.content -->
