<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Lambda Application Details</small>
    </h1>
</section>


<!-- Main content -->
<section class="content">
    <!-- TOP DATA -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-laptop"></i> Application {{model.application.name}}</h3>

                    <div class="box-tools pull-right">
                        <small>ID: {{model.application.id}}</small>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row ">
                        <div class="col-xs-12">
                            <a href="delete-application.html" class="btn  btn-danger pull-right"
                               style="margin-right: 15px;"><i class="fa fa-close"></i> Delete</a>
                          {{#if (compare model.application.status_code '==' '0')}}
                            {{#link-to 'deploy-app-1' model.application.id}}
                                <button class="btn btn-primary pull-right"
                                        style="margin-right: 15px;"><i class="fa fa-mail-reply"> </i>
                                    Deploy on a lambda instance
                                </button>
                            {{/link-to}}
                          {{else}}
                              <button class="btn btn-primary pull-right disabled"
                                      style="margin-right: 15px;"><i class="fa fa-mail-reply"> </i>
                                  Deploy on a lambda instance
                              </button>
                          {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-sm-8">
                            <div class="pad">
                                Details of your application
                            </div>
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-ms-6 col-xs-4">
                            <table class="table table-bordered table-hover table-responsive">
                                <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Pithos path</th>
                                    <td>{{model.application.path}}/{{model.application.name}}</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td>{{lower-case model.application.app_type}}</td>
                                </tr>
                                {{#if model.application.description}}
                                    <tr>
                                        <th>Description</th>
                                        <td>{{model.application.description}}</td>
                                    </tr>
                                {{/if}}
                                <tr>
                                    <th>Status message</th>
                                    <td>{{lower-case model.application.status_message}}</td>
                                </tr>
                                <tr>
                                    <th>Status code</th>
                                    <td>{{model.application.status_code}}</td>
                                </tr>
                                <tr>
                                    <th>Status detail</th>
                                    <td>{{model.application.status_detail}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!--col-xs-12-->
                    </div>
                    <!--row-->
                </div>
                <!--box-->
            </div>
            <!-- box-primary -->
        </div>
        <!--col -->
    </div>
    <!--row-->

  {{#if model.instances}}

  {{#if request}}
      {{#each app.errors as |error|}}
            <div  class="alert alert-dismissable alert-danger" id="alert">
              <button type="button" class="close" {{action "close_alert"}}>×</button>
              {{error.message}}
            </div>

      {{else}}
          <div  class="alert alert-dismissable alert-success" id="alert">
            <button type="button" class="close" {{action "close_alert"}}>×</button>
            {{message}}
          </div>
      {{/each}}
  {{/if}}

      <div class="row">
          <div class="col-xs-12">
              <div class="box box-info">
                  <div class="box-header with-border">
                      <h3 class="box-title"><i class="fa fa-th"></i> Lambda instances the application is deployed on
                      </h3>
                  </div>
                  <!-- /.box-header -->

                  <div class="box-body">
                      <div class="row">
                          <div class="col-ms-12 col-xs-12">
                              Here, you can view all the lambda instances the application is deployed on
                          </div>
                      </div>
                      <div class="row">

                          <div class="col-ms-8 col-xs-8">

                              <div class="table">
                                  <table class="table">
                                      <thead>
                                      <tr>
                                          <th>Instance Name</th>
                                          <th>App started</th>
                                          <th>Actions</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {{#each model.instances as |li|}}
                                          <tr>
                                              <td>
                                                {{#link-to 'lambda-instance' li.id tooltipContent=li.id}}
                                                  {{li.name}}
                                                {{/link-to}}
                                              </td>
                                              <td>{{li.started_app}}</td>
                                              <td>
                                                <div class="table">
                                                    <table class="table">
                                                        <tbody>
                                                              {{#if li.started_app}}
                                                                <td>
                                                                {{app-action stop=true app=model.app application-id=model.application.id instance-id=li.id request=request message=message action="start_stop"}}
                                                              </td>
                                                              {{else}}
                                                              <td>
                                                                {{app-action start=true app=model.app application-id=model.application.id instance-id=li.id request=request message=message action="start_stop"}}
                                                              </td>
                                                              <td>
                                                                {{app-action withdraw=true app=model.app application-id=model.application.id instance-id=li.id request=request message=message action="withdraw"}}
                                                              </td>
                                                              {{/if}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                              </td>
                                          </tr>
                                      {{/each}}
                                      </tbody>
                                  </table>
                              </div>
                              <!--class="table-responsive"-->
                          </div>
                          <!-- /.col -->
                      </div>
                      <!-- /.row -->
                  </div>
              </div>
          </div>
      </div>
  {{/if}}

</section><!-- /.content -->
