<h1>Listing Lambda Instances</h1>

<table>
{{#each model as |lambda-instance|}}
<tr class="instance-info">
  <td>{{lambda-instance.uuid}}</td>
  <td>{{lambda-instance.name}}</td>
  <td>{{lambda-instance.status}}</td>
  {{#if lambda-instance.failure_message}}
    <td>{{lambda-instance.failure_message}}</td>
  {{/if}}
</tr>
{{else}}
  No lambda instances under ownership.
{{/each}}
</table>
