<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Lambda Instance Details</small>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  {{#if failure}}
      {{#each model.instance_action.errors as |error|}}
            <div  class="alert alert-dismissable alert-danger" id="alert">
              <button type="button" class="close" {{action "close_alert"}}>×</button>
              {{error.message}}
            </div>
      {{/each}}
  {{/if}}
  {{#if request}}
        <div  class="alert alert-dismissable alert-success" id="alert">
          <button type="button" class="close" {{action "close_alert"}}>×</button>
          {{message}}
        </div>
  {{/if}}
  {{#if failed_delete}}
      <div  class="alert alert-dismissable alert-danger" id="alert">
        <button type="button" class="close" {{action "close_alert"}}>×</button>
        {{delete_error_message}}
      </div>
  {{/if}}
  {{#if success_delete}}
      <div  class="alert alert-dismissable alert-success" id="alert">
        <button type="button" class="close" {{action "close_alert"}}>×</button>
        {{delete_success_message}}
      </div>
  {{/if}}

  <!-- TOP DATA -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-laptop"></i> Lambda Instance Name: {{model.instance.name}}</h3>
          <div class="box-tools pull-right">
            <small>ID: {{model.instance.id}}</small>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row ">
            <div class="col-xs-12">

              <div class="pad">
              This page contains information regarding the lambda instance:<strong> {{model.instance.name}} </strong><br>
              You can view its details, <i>start, stop or delete</i> it.<br> In addition, you can browse the deployed application(s)
              onto this lambda instance and <i>deploy, start, stop or undeploy</i> them.<br> The visible buttons represent the available
              actions you may take depending on the <i>status</i> of the lambda instance.
              </div>

              {{#if (logical-op 'and'
                (compare (lambda-instance-state model.instance.status_message) "!==" "DESTROYING")
                (compare (lambda-instance-state model.instance.status_message) "!==" "DESTROYED")
              )}}
                <button name="del-btn" id="del-btn" class="btn btn-danger btn-primary pull-right"
                  {{action "delete_instance" model.instance.id}}>
                    <i class="fa fa-times"></i> Delete
                </button>
              {{else}}
                {{#tool-tip}}
                <button name="del-btn" id="del-btn" class="btn btn-danger btn-primary pull-right disabled has-tooltip"
                        data-tooltip-content="<center>Cannot delete a lambda instance, while its
                        status is {{lower-case model.instance.status_message}}!</center>">
                    <i class="fa fa-times"></i> Delete
                </button>
                {{/tool-tip}}
              {{/if}}
                {{#if (compare model.instance.status_code '==' '0')}}
                {{#link-to 'deploy-app-2' model.instance.id}}
                  <button class="btn btn-primary pull-right"
                          style="margin-right: 15px;"><i class="fa fa-mail-reply"> </i>
                      Deploy an application
                  </button>
                {{/link-to}}
              {{else}}
                {{#tool-tip}}
                <button class="btn btn-primary pull-right disabled has-tooltip"
                        data-tooltip-content="<center>Cannot deploy an application, while lambda instance
                        status is {{lower-case model.instance.status_message}}!</center>"
                        style="margin-right: 15px;"><i class="fa fa-mail-reply"> </i>
                    Deploy an application
                </button>
                {{/tool-tip}}
              {{/if}}
              {{#tool-tip}}
                {{#if (compare model.instance.status_code '==' '0')}}
                  {{instance-action apps=model.apps check_apps=true stop=true instance=model.instance_action failure=failure instance-id=model.instance.id request=request message=message action="start_stop"}}
                  {{instance-action start=true disabled=true status_message=model.instance.status_message}}
                {{else if (compare model.instance.status_code '==' '1')}}
                  {{instance-action stop=true disabled=true status_message=model.instance.status_message}}
                  {{instance-action start=true instance=model.instance_action instance-id=model.instance.id failure=failure request=request message=message action="start_stop"}}
                {{else}}
                  {{instance-action stop=true disabled=true status_message=model.instance.status_message}}
                  {{instance-action start=true disabled=true status_message=model.instance.status_message}}
                {{/if}}
                {{/tool-tip}}
             </div>
          </div>
          <div class="row">
            <div class="col-md-9 col-sm-8">
              <div class="pad">
                Details for this Lambda Instance
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-ms-8 col-xs-8">
              <table  class="table table-bordered table-hover table-responsive">
                <thead>
                  <tr>
                    <th>Property</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Project name</th>
                    <td>{{model.instance.project_name}}</td>
                  </tr>
                  <tr>
                    <th>Number of slaves</th>
                    <td>{{model.instance.slaves}}</td>
                  </tr>
                  <tr>
                    <th>Name of master node</th>
                    <td>{{model.instance.master_name}}</td>
                  </tr>
                  <tr>
                    <th>Hostname of master node</th>
                    {{#if model.instance.master_node_id}}
                    <td>snf-{{model.instance.master_node_id}}.vm.okeanos.grnet.gr</td>
                    {{else}}
                    <td>-</td>
                    {{/if}}
                  </tr>
                  <tr>
                    <th>Number of CPUs on master node</th>
                    <td>{{model.instance.vcpus_master}}</td>
                  </tr>
                  <tr>
                    <th>Number of CPUs on each slave node</th>
                    <td>{{model.instance.vcpus_slave}}</td>
                  </tr>
                  <tr>
                    <th>Size of RAM on master node</th>
                    <td>{{model.instance.ram_master}} MB</td>
                  </tr>
                  <tr>
                    <th>Size of RAM on each slave node</th>
                    <td>{{model.instance.ram_slave}} MB</td>
                  </tr>
                  <tr>
                    <th>Size of disk (HDD) on master node</th>
                    <td>{{model.instance.disk_master}} GB</td>
                  </tr>
                  <tr>
                    <th>Size of disk (HDD) on each slave node</th>
                    <td>{{model.instance.disk_slave}} GB</td>
                  </tr>
                  <tr>
                      <th>
                        {{#tool-tip}}
                            Kafka input topics (broker port: 9092)
                            <i class="fa fa-info-circle has-tooltip"
                               data-tooltip-content="<center>
                               In order to send information to an Apache Kafka topic, you need to communicate with a
                               broker. A properly configured broker has been installed on the master node of this
                               lambda instance and accepts input at port 9092. For more information, please visit
                               kafka.apache.org.
                               </center>">
                            </i>
                        {{/tool-tip}}
                      </th>
                      <td>{{model.instance.kafka_input_topics}}</td>
                  </tr>
                  <tr>
                      <th>
                        {{#tool-tip}}
                          <span>Kafka output topics (zookeeper port: 2181)</span>
                            <i class="fa fa-info-circle has-tooltip"
                               data-tooltip-content="<center>
                               In order to receive information from an Apache Kafka topic, you need to communicate with
                               Apache Zookeeper. A properly configured zookeeper has been installed on the master node
                               of this lambda instance. You can communicate with it through port 2181. For more
                               information, please visit kafka.apache.org.
                               </center>">
                            </i>
                        {{/tool-tip}}
                      </th>
                      <td>{{model.instance.kafka_output_topics}}</td>
                  </tr>
                  {{#if model.instance.public_key_name}}
                  <tr>
                    <th>Authorized public keys</th>
                    <td>{{model.instance.public_key_name}}</td>
                  </tr>
                  {{/if}}
                </tbody>
              </table>
            </div><!--col-xs-12-->
            <!-- About Instance -->
    <div class="col-md-4 pull-right">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa  fa-bullhorn"></i> About The Instance</h3>
          <span style='margin-left:10px;'>
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "BUILDING")}}
            <i class="fa fa-circle text-warning "></i>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "STARTING")}}
            <i class="fa fa-circle text-warning "></i>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "STOPPING")}}
            <i class="fa fa-circle text-warning "></i>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "DESTROYING")}}
            <i class="fa fa-circle text-warning "></i>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "STOPPED")}}
            <i class="fa fa-circle text-danger "></i>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "FAILED")}}
            <i class="fa fa-circle text-danger "></i>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "DESTROYED")}}
            <i class="fa fa-circle text-danger "></i>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "STARTED")}}
            <i class="fa fa-circle text-success "></i>
            {{/if}}
            {{lambda-instance-state model.instance.status_message}}
          </span>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-pencil margin-r-5"></i> Status</strong>
          <p>
            <ul class="timeline">
              <!-- timeline time label -->
              <li class="time-label">
                {{#if (logical-op 'or'
                  (compare (lambda-instance-state model.instance.status_message) "===" "BUILDING")
                  (compare (lambda-instance-state model.instance.status_message) "===" "STARTING")
                  (compare (lambda-instance-state model.instance.status_message) "===" "STOPPING")
                  (compare (lambda-instance-state model.instance.status_message) "===" "DESTROYING")
                )}}
                <span class="bg-orange">Status: {{lambda-instance-state model.instance.status_message}}</span>
                <div class="spinner-loader" style="position: relative;top:0;bottom: 0;left: 15%;right: 0;margin: auto;"></div>
                {{/if}}
                {{#if (logical-op 'or'
                  (compare (lambda-instance-state model.instance.status_message) "===" "STOPPED")
                  (compare (lambda-instance-state model.instance.status_message) "===" "FAILED")
                  (compare (lambda-instance-state model.instance.status_message) "===" "DESTROYED")
                )}}
                <span class="bg-red">Status: {{lambda-instance-state model.instance.status_message}}</span>
                {{/if}}
                {{#if (compare (lambda-instance-state model.instance.status_message) "===" "STARTED")}}
                <span class="bg-green">Status: {{lambda-instance-state model.instance.status_message}}</span>
                {{/if}}
              </li>
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
                <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> Now </span>
                  <h3 class="timeline-header"><strong>{{model.instance.status_message}}</strong> </h3>
                  <div class="timeline-body">{{lambda-instance-state-flow model.instance.status_message}} {{model.instance.status_detail}}</div> <!-- class="timeline-body"-->
                </div> <!-- class="timeline-item" -->
              </li>
            </ul>
          </p>
          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "BUILDING")}}
            <p>Your lambda instance is being built. This might take a while...</p>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "STARTING")}}
            <p>Your lambda instance is being started! Please wait...</p>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "STOPPING")}}
            <p>Your lambda instance is being stopped! Please wait...</p>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "DESTROYING")}}
            <p>Your lambda instance is being destroyed! Please wait...</p>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "STOPPED")}}
            <p>Your lambda instance has been stopped. You need to start it in order to run an application.</p>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "FAILED")}}
            <p>Your lambda instance has failed. You can delete it an try creating a new one.</p>
              {{#if model.instance.status_failure_message}}
                  <p><b>Reason of failure:</b> {{model.instance.status_failure_message}}</p>
              {{/if}}
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "DESTROYED")}}
            <p>Your lambda instance has been destroyed. There is nothing else you can do with it!</p>
            {{/if}}
            {{#if (compare (lambda-instance-state model.instance.status_message) "===" "STARTED")}}
            <p>Your lambda instance is up and running.</p>
            {{/if}}
        </div> <!-- /.box-body -->
      </div><!-- /.box -->
    </div> <!--col-md-3 pull-right -->
    <!-- About Instance -->
          </div><!--row-->
        </div><!--box-->
      </div> <!-- box-primary -->
    </div> <!--col -->
  </div> <!--row-->

  {{#if (logical-op 'or' model.apps deployWait)}}

  {{#if app_failure}}
      {{#each model.app.errors as |error|}}
            <div  class="alert alert-dismissable alert-danger" id="app_alert">
              <button type="button" class="close" {{action "close_app_alert"}}>×</button>
              {{error.message}}
            </div>
      {{/each}}
  {{/if}}

  {{#if app_request}}
        <div  class="alert alert-dismissable alert-success" id="app_alert">
          <button type="button" class="close" {{action "close_app_alert"}}>×</button>
          {{message}}
        </div>
  {{/if}}

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-th"></i> Applications deployed on this Lambda Instance</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class=“row”>
            <div class="col-xs-12">
              List of Applications currently deployed on this Lambda Instance
            </div>
          </div>
          <div class=“row”>
            <div class="col-ms-7 col-xs-7">
              <table class="table table-bordered table-hover table-responsive">
                <thead>
                {{#if model.apps}}
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Started</th>
                    <th>Actions</th>
                  </tr>
                {{/if}}
                {{#if deployWait}}
                    <tr>
                        <th><span style="font-size: .9em;" class="label bg-orange">
                                              An application is currently being deployed on the instance
                                              <i class="fa fa-spinner fa-spin"></i>
                                          </span></th>
                    </tr>
                {{/if}}
                </thead>
                <tbody>
                  {{#each sortedApps as |application|}}
                  <tr class="instance-info">
                    <td>
                      {{#link-to 'lambda-app' application.id
                      tooltipContent=(concat "<center>" application.id "</center>")}}
                        {{application.name}}
                      {{/link-to}}
                    </td>
                    <td>{{lower-case application.app_type}}</td>
                    <td>{{application.started}}</td>
                    <td>
                      {{#if (compare model.instance.status_code '==' '0')}}
                          {{#if application.started}}
                              <td style="padding-right: 5px;">
                                {{#tool-tip}}
                                {{app-action start=true disabled=true
                                tool-tip-message="it is started!"}}
                                {{/tool-tip}}
                              </td>
                              <td style="padding-right: 5px;">
                                {{#tool-tip}}
                                  {{app-action stop=true app=model.app application-id=application.id instance-id=model.instance.id request=app_request failure=app_failure message=message action="start_stop"}}
                                {{/tool-tip}}
                              </td>
                              <td style="padding-right: 5px;">
                                {{#tool-tip}}
                                {{app-action withdraw=true disabled=true
                                tool-tip-message="it is started!"}}
                                {{/tool-tip}}
                              </td>
                          {{else}}
                              <td style="padding-right: 5px;">
                              {{#tool-tip}}
                                {{app-action start=true app=model.app application-id=application.id instance-id=model.instance.id request=app_request failure=app_failure message=message action="start_stop"}}
                              {{/tool-tip}}
                              </td>
                              <td style="padding-right: 5px;">
                                {{#tool-tip}}
                                  {{app-action stop=true disabled=true
                                  tool-tip-message="it is already stopped!"}}
                                {{/tool-tip}}
                              </td>
                              <td style="padding-right: 5px;">
                            {{#tool-tip}}
                                {{app-action withdraw=true app=model.app application-id=application.id instance-id=model.instance.id request=app_request failure=app_failure message=message action="withdraw"}}
                            {{/tool-tip}}
                              </td>
                          {{/if}}
                      {{else}}
                              <td style="padding-right: 5px;">
                                {{#tool-tip}}
                                {{app-action start=true disabled=true
                                tool-tip-message=(concat "the lambda instance's status
                                is " (lower-case model.instance.status_message))}}
                                {{/tool-tip}}
                              </td>
                              <td style="padding-right: 5px;">
                                {{#tool-tip}}
                                  {{app-action stop=true disabled=true
                                  tool-tip-message=(concat "the lambda instance's status
                                is " (lower-case model.instance.status_message))}}
                                {{/tool-tip}}
                              </td>
                              <td style="padding-right: 5px;">
                                {{#tool-tip}}
                                {{app-action withdraw=true disabled=true
                                tool-tip-message=(concat "the lambda instance's status
                                is " (lower-case model.instance.status_message))}}
                                {{/tool-tip}}
                              </td>
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div><!--class="table-responsive"-->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
    </div>
  </div>
  {{/if}}
</section><!-- /.content -->
