<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Lambda Applications</small>
  </h1>

</section>

<!-- Main content -->
<section class="content">
  <div class="row">
   <div class="col-xs-12">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Lambda Applications</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="row">
            <div class="col-md-9 col-sm-8">
              <div class="pad">
                <p> Your Lambda Applications in numbers</p>
              </div>
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-4">
<div class="small-box bg-orange">
        <div class="inner">
          <h3>{{model.length}}</h3>
          <p>Applications Uploaded</p>
        </div>
        <div class="icon">
          <i class="fa fa-th"></i>
        </div>

      </div>

            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.box-body -->
      </div><!--box box-primary-->
    </div><!--col-xs-12-->
  </div>

  {{#if failed_delete}}
      <div  class="alert alert-dismissable alert-danger" id="alert">
        <button type="button" class="close" {{action "close_alert"}}>×</button>
        {{message}}
      </div>
  {{/if}}

  {{#if success_delete}}
      <div  class="alert alert-dismissable alert-success" id="alert">
        <button type="button" class="close" {{action "close_alert"}}>×</button>
        {{message}}
      </div>
  {{/if}}

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List of Lambda Applications</h3>
            <div class="box-tools">
              {{#link-to 'lambda-apps.upload'}}
                  <a class="btn btn-primary btn-sm" title="Upload an application" alt="Upload an application">
                      <i class="fa fa-th"></i> Upload an application</a>
              {{/link-to}}
            </div>
            <!--box-tools-->
        </div><!-- /.box-header -->
        <div class="box-body">
         <div class="row">
        <div class="col-xs-12">
          <table  class="table table-bordered table-hover table-responsive">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Type</th>
                <th>Actions</th>

              </tr>
            </thead>
            <tbody>
             <!-- <tr>
                <td>1</td>
                <td>My Application</td>
                <td>
      <a class="btn btn-social-icon btn-bitbucket" title="View Details" alt="View Details"><i class="fa fa-file-code-o"></i></a>
      <a class="btn btn-social-icon btn-google" title="Delete" alt="Delete"><i class="fa fa-close"></i></a>
                </td>


              </tr> -->
              {{#each pagedContent as |lambda-application|}}
              <tr>
                <td>
                  {{#link-to 'lambda-app' lambda-application.id
                  tooltipContent=(concat "<center>" lambda-application.id "</center>")}}
                    {{lambda-application.name}}
                  {{/link-to}}
                </td>
                <td>{{lambda-application.status_detail}}</td>
                <td>{{lower-case lambda-application.app_type}}</td>

                <td>
                  <button name="del-btn" id="del-btn" class="btn btn-danger btn-xs" {{action "delete_app" lambda-application.id}}>Delete</button>
                </td>
                <td>
                  {{#link-to 'lambda-app' lambda-application.id}}
                  <button class="btn btn-info btn-xs"><i class="fa fa-file-code-o"></i> Details</button>
                  {{/link-to}}
                </td>
                  <td>
                  {{#if (compare lambda-application.status_code '==' '0')}}
                    {{#link-to 'deploy-app-1' lambda-application.id}}
                        <button class="btn btn-primary btn-xs"
                                style="margin-right: 15px;"><i class="fa fa-mail-reply"> </i>
                            Deploy on a lambda instance
                        </button>
                    {{/link-to}}
                  {{else}}
                    {{#tool-tip}}
                        <button class="btn btn-primary btn-xs disabled has-tooltip"  style="margin-right: 15px;"
                                data-tooltip-content="<center>Cannot deploy an application, while its
                                status is {{lower-case lambda-application.status_message}}!</center>">
                                <i class="fa fa-mail-reply"> </i>
                            Deploy on a lambda instance
                        </button>
                    {{/tool-tip}}
                  {{/if}}
                  </td>
              </tr>
              {{else}}
                No lambda applications under ownership.
              {{/each}}

            </tbody>
        </table>
</div><!--col-xs-12-->
</div><!--row-->
<div class="row">
  <div class="col-sm-6">
    <div>Showing {{firstOfCurrentPage}} to {{lastOfCurrentPage}} of {{model.length}} entries</div>
  </div>
  <div class="col-sm-6">
    {{page-numbers content=pagedContent currentPage=page totalPages=totalPages showFL=false}}
    </div>
</div><!--row-->

          </div><!--box-body-->
</div><!--box-->
   </div><!--col-xs-12-->
</div><!--row-->
</section><!-- /.content -->
