<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Dashboard
    <small>Lambda Instances Overview</small>
  </h1>

</section>

<!-- Main content -->
<section class="content">
  <div class="row">
   <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Lambda Instances</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="row">
            <div class="col-md-9 col-sm-8">
              <div class="pad">
                  <p>Your Lambda Instances in numbers</p>
              </div>
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-4">
<div class="small-box bg-blue">
        <div class="inner">
          <h3>{{model.length}}</h3>
          <p>Lambda Instances</p>
        </div>
        <div class="icon">
          <i class="fa fa-laptop"></i>
        </div>

      </div>

            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.box-body -->
      </div><!--box box-primary-->
    </div><!--col-xs-12-->
  </div>

    {{#if failure}}
        {{#each instance_action.errors as |error|}}
              <div  class="alert alert-dismissable alert-danger" id="alert">
                <button type="button" class="close" {{action "close_alert"}}>×</button>
                {{error.message}}
              </div>
        {{/each}}
    {{/if}}
    {{#if request}}
          <div  class="alert alert-dismissable alert-success" id="alert">
            <button type="button" class="close" {{action "close_alert"}}>×</button>
            {{message}}
          </div>
    {{/if}}
    {{#if failed_delete}}
        <div  class="alert alert-dismissable alert-danger" id="alert">
          <button type="button" class="close" {{action "close_alert"}}>×</button>
          {{delete_error_message}}
        </div>
    {{/if}}

    {{#if success_delete}}
        <div  class="alert alert-dismissable alert-success" id="alert">
          <button type="button" class="close" {{action "close_alert"}}>×</button>
          {{delete_success_message}}
        </div>
    {{/if}}


  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List of Lambda Instances</h3>
          <div class="box-tools">
            {{#link-to 'create-lambda-instance'}}
                <a class="btn btn-primary btn-sm" title="Create New Instance" alt="Create New Instance">
                    <i class="fa fa-laptop"></i> Create New Instance</a>
            {{/link-to}}
          </div><!--box-tools-->
        </div><!-- /.box-header -->
        {{#if model.length}}
        <div class="box-body">
         <div class="row">
        <div class="col-xs-12">
          <table  class="table table-bordered table-hover table-responsive">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

              {{#each pagedContent as |lambda-instance|}}
              <tr>
                <td>
                  {{#link-to 'lambda-instance' lambda-instance.id
                  tooltipContent=(concat "<center>" lambda-instance.id "</center>")}}
                    {{lambda-instance.name}}
                  {{/link-to}}
                </td>
                <td>
                    {{#if (logical-op 'or'
                      (compare (lambda-instance-state lambda-instance.status_message) "===" "BUILDING")
                      (compare (lambda-instance-state lambda-instance.status_message) "===" "STARTING")
                      (compare (lambda-instance-state lambda-instance.status_message) "===" "STOPPING")
                      (compare (lambda-instance-state lambda-instance.status_message) "===" "DESTROYING")
                    )}}
                        <span style="font-size: .9em;" class="label bg-orange">{{lambda-instance.status_detail}}
                            <i class="fa fa-spinner fa-spin" style="position: relative;left: 1%;"></i>
                        </span>
                    {{/if}}
                    {{#if (logical-op 'or'
                      (compare (lambda-instance-state lambda-instance.status_message) "===" "STOPPED")
                      (compare (lambda-instance-state lambda-instance.status_message) "===" "FAILED")
                      (compare (lambda-instance-state lambda-instance.status_message) "===" "DESTROYED")
                    )}}
                      <span style="font-size: .9em;" class="label bg-red">{{lambda-instance.status_detail}}</span>
                    {{/if}}
                    {{#if (compare (lambda-instance-state lambda-instance.status_message) "===" "STARTED")}}
                      <span style="font-size: .9em;" class="label bg-green">{{lambda-instance.status_detail}}</span>
                    {{/if}}
                </td>
                <td>
                    <td style="padding-right: 5px;">
                      {{#link-to 'lambda-instance' lambda-instance.id}}
                        <a class="btn btn-info btn-xs"  title="View Details" alt="View Details"><i class="fa fa-file-code-o"></i> Details</a>
                      {{/link-to}}
                    </td>
                    {{#if (compare lambda-instance.status_code '==' '0')}}
                      <td style="padding-right: 5px;">
                        {{#tool-tip}}
                            {{instance-action start=true xs=true disabled=true status_message=lambda-instance.status_message}}
                        {{/tool-tip}}
                      </td>

                      <td style="padding-right: 5px;">
                        {{instance-action apps=apps xs=true stop=true check_apps=false started_app=lambda-instance.running_app instance=instance_action failure=failure instance-id=lambda-instance.id request=request message=message action="start_stop"}}
                      </td>
                      <td style="padding-right: 5px;">
                        {{#link-to "deploy-app-2" lambda-instance.id}}
                            <button class="btn btn-primary btn-xs"
                                    style="margin-right: 15px;"><i class="fa fa-mail-reply"> </i>
                                Deploy an application
                            </button>
                        {{/link-to}}
                      </td>
                    {{else if (compare lambda-instance.status_code '==' '1')}}
                      <td style="padding-right: 5px;">
                        {{instance-action start=true xs=true instance=instance_action instance-id=lambda-instance.id failure=failure request=request message=message action="start_stop"}}
                      </td>
                      <td style="padding-right: 5px;">
                        {{#tool-tip}}
                          {{instance-action stop=true xs=true disabled=true status_message=lambda-instance.status_message}}
                        {{/tool-tip}}
                      </td>
                      <td style="padding-right: 5px;">
                        {{#tool-tip}}
                            <button class="btn btn-primary btn-xs disabled  has-tooltip"
                                          data-tooltip-content="<center>Cannot deploy an application, while lambda instance
                                          status is {{lower-case lambda-instance.status_message}}!</center>"
                                          style="margin-right: 15px;"><i class="fa fa-mail-reply"> </i>
                                Deploy an application
                            </button>
                        {{/tool-tip}}
                      </td>
                    {{else}}
                      <td style="padding-right: 5px;">
                        {{#tool-tip}}
                          {{instance-action start=true xs=true disabled=true status_message=lambda-instance.status_message}}
                        {{/tool-tip}}
                      </td>
                      <td style="padding-right: 5px;">
                        {{#tool-tip}}
                          {{instance-action stop=true xs=true disabled=true status_message=lambda-instance.status_message}}
                        {{/tool-tip}}
                      </td>
                      <td style="padding-right: 5px;">
                        {{#tool-tip}}
                                  <button class="btn btn-primary btn-xs disabled  has-tooltip"
                                          data-tooltip-content="<center>Cannot deploy an application, while lambda instance
                                          status is {{lower-case lambda-instance.status_message}}!</center>"
                                          style="margin-right: 15px;"><i class="fa fa-mail-reply"> </i>
                                Deploy an application
                            </button>
                          {{/tool-tip}}
                      </td>
                    {{/if}}
                    <td>
                      {{#if (logical-op 'or'
                        (compare (lambda-instance-state lambda-instance.status_message) "===" "DESTROYING")
                        lambda-instance.deleting)
                      }}
                        {{#tool-tip}}
                          <button name="del-btn" id="del-btn" class="btn btn-danger btn-xs disabled has-tooltip"
                                  data-tooltip-content="<center>The lambda instance is being destroyed!</center>">
                              <i class="fa fa-times"></i> Deleting <i class="fa fa-spinner fa-spin"></i>
                          </button>
                        {{/tool-tip}}
                      {{else}}
                        <button name="del-btn" id="del-btn" class="btn btn-danger btn-xs"
                          {{action "delete_instance" lambda-instance.id}}>
                            <i class="fa fa-times"></i> Delete
                        </button>
                    {{/if}}
                    </td>
                </td>
              </tr>
              {{/each}}

            </tbody>
        </table>
</div><!--col-xs-12-->
</div><!--row-->
<div class="row">
  <div class="col-sm-6">
    <div>Showing {{firstOfCurrentPage}} to {{lastOfCurrentPage}} of {{model.length}} entries</div>
  </div>
  <div class="col-sm-6">
{{page-numbers content=pagedContent currentPage=page totalPages=totalPages showFL=false}}
    </div>
</div><!--row-->

          </div><!--box-body-->
        {{else}}
            <div class="pad">No lambda instances under ownership.</div>
        {{/if}}
</div><!--box-->
   </div><!--col-xs-12-->
</div><!--row-->
</section><!-- /.content -->
