<div>
  <h2>Upload an application</h2>
  <form class="col-lg-12"  {{action "upload" on="submit"}}>
    <div class="input-group input-group-lg col-sm-offset-3 col-sm-6">

      {{input value=description placeholder="File description" type="textarea" class="center-block form-control input-lg" id="description"}}

      <br><br><br>

      {{view "select" value=type content=types optionValuePath="content.type" optionLabelPath="content.type"}}

      <br><br>

      {{input value=project_name placeholder="Project name" type="textarea" class="center-block form-control input-lg" id="project_name"}}

      <br><br><br>

      <input type="file" id="file" name="file" value=file>

      <br>

      <button type="submit" id="id_login_submit_button" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </form>

  {{project_name}}{{description}}{{type}}{{file}}

</div>
